<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= link_to t("get"), href="http://www.railstutorial.org/help" %>
  <%= t "rails" %>
  <%= link_to t("to"), href="http://www.railstutorial.org/book" %>
  <em><%= t "ruby" %></em>
  <%= t "book" %>
</p>
